
#
# Ignores for Unity
#

#
# Only ignore csproj & sln files inside src/unity-project
#
/src/unity-project/*.csproj
/src/unity-project/*.sln

# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Source: https://forum.unity3d.com/threads/unity-and-git.141420/

#
# Ignore build output
#
/buildscripts/BuildCSharpCode/VubbiBuild/bin
/buildscripts/BuildCSharpCode/VubbiBuild/obj
/buildscripts/temp
/buildscripts/tools
/buildscripts/.dotnet
/buildscripts/unity-project-auto-package-build/Assets

#
# Ignore additional folders used during testing & development
#
/other/
/src/unity-project/Assets/Scripts.meta
/src/unity-project/Assets/Scripts/