.pagecontainer {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.codecontainer {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  
  width:0px;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.codecontainer.open {
  width: 60%;
}
.codecontainer .codecontentcontainer {
  position: absolute;
  overflow: hidden;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.codecontainer .codecontentcontainer .codebordergroup {
  position:absolute;
  background-color: rgba(239, 250, 255, 0.95);
  top:0px;
  left:0px;
  bottom:0px;
  width: 60vw;
  box-sizing: border-box;
}
.codecontainer .codecontent {
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  overflow:auto;
}

.showhidecodetoggle {
  position:absolute;
  right:100%;
  top:11px;
  padding-left:5px;
  padding-right:5px;
}

.loading .showhidecodetoggle {
  display:none;
}

.codecontainer h5 {
    font-weight: bold;
    color: #666;
    margin-top: 4px;
}

#notificationcontainer {
    position: absolute;
    top:10;
    left:0px;
    right:0px;
    margin-left:auto;
    margin-right: auto;
    width:400px;
    z-index: 10;
}

.filename {
    color: black;
    font-weight: bold;
    padding: 15px;
}

a {
    cursor: pointer;
}

#buzyindicator {
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40vh;
    width:150px;
    
}

.blocklyToolboxDiv {
  top: 0px !important;
}

/* toolbox header */
.vubbiscriptToolboxHeader {
  cursor: default;
  font-family: sans-serif;
  font-size: 17px;
  padding: 0 3px;
  font-weight: 600;
  color: #666;
  vertical-align: middle;
  margin-bottom: 1px;
  margin-top:10px;
}
.physicsToggle {
  position:absolute;
  right:0px;
  top: 10px;
}
.physicsToggle .btn {
  color: #555;
  background-color: transparent;
  border-color: #ddd;
  font-size: 8pt;
  margin-right: 10px;
}

/* Bootstrap will overwrite the style of BODY. But the body inside the svg foreignObject should be an exception... */
body.blocklyMinimalBody {
  background-color: transparent;
}

.globeicon {
  opacity: 0.5;
}
.globeicon:hover {
  opacity: 1;
}

.languageselector {
  position: absolute;
  bottom: 10px;
  left: 10px;
}